* {
    background-color: #b80022;
    color: #FDFDDF;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCDCF2;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    height: 12vh;
    font-size: 1.23rem;
}

div#score {
    text-align: center;
    font-size: 1.25rem;
    color: #FDFDDF;
    margin: 4vh 0 4vh 0;
}

.player,
.computer {
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
}
.player {
    color: #e7c103;
}

.computer {
    color: lawngreen;
}


img {
    transition: transform ease-in 0.3s, border ease-in 0.6s, box-shadow ease-in 0.9s;
    width: 125px;
    height: auto;
    max-width: 145px;
    max-height: 145px;
    padding: 10px;
}

img:hover {
    transform: translateY(-10%);
    cursor: pointer;
}

div.new,
div.classics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 0 8vh 0;
}

.comment {
    display: block;
    margin: 2.5vh auto;
    width: 60vw;
    height: 10vh;
}

.human {
    border: solid 1px #e7c103;
    border-radius: 30px;
    box-shadow: 0px 0px 40px 10px #e7c103;
}

.machine {
    border: solid 1px lawngreen; 
    border-radius: 30px;
    box-shadow: 0px 0px 40px 10px lawngreen;

}

.hmtie {
    border: solid 1px #fdfddf;
    border-radius: 30px;
    box-shadow: 0px 0px 40px 10px #fdfddf;
}

#credits {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #e7c103;
}